@import "tailwindcss";

@font-face {
    font-family: 'RoGSanSrfStd-Bd';
    src: url('./fonts/RoGSanSrfStd-Bd.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body,
button,
input {
    font-family: 'RoGSanSrfStd-Bd';
}

img {
    image-rendering: smooth !important; 
}

/* Uncomment for debug layout */
/* * {
    border-color: red !important;
    border-style: dashed !important;
} */